<div class="jumbotron">
	<div class="container">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, adipisci itaque molestias facere, consequuntur cum, numquam consectetur, veniam iusto iure harum quae sapiente odit sed in? Quam animi aut non?</p>
	</div>
</div>


<div class="container">
	<h3>Welcome</h3>
	<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>

</div>
<div class="jumbotron">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas ipsum tenetur cumque nulla, enim sit consequuntur libero totam culpa est labore aspernatur eius. Numquam, quidem odit incidunt perferendis, tempora omnis.</p>
</div>