<div class="container">
	<% if current_user %>
		<div><h3>Welcome, <% current_user.name %></h3></div>
		<img src="<%= current_user.github_profile.image %>" width="100px" 
		style="float: left;   margin-right: 12px;">
		<div style="margin-left:120px;">
			<h4>From: <% current_user.github_profile.location %></h4>
			<h4> Public repos: <% current_user.github_profile.public_repo%></h4>
			<h4> Public Gists: <% current_user.github_profile.public_gists %></h4>
			<h4> Followers: <% current_user.github_profile.followers %></h4>
			<h4> Following: <% current_user.github_profile.following %></h4>
			<h4> Member since <% Date.parse current_user.github_profile.bember_since %></h4>
		</div>
	<% else %>
	<h1>Welcome, please login.</h1>
	<% end %>
</div>